/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(213, 32%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  /* particular colors */
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: #e24848;
  --clr-green-dark: hsl(125, 69%, 46%);
  --clr-green-light: hsl(125, 48%, 37%);
  --clr-blue: #166abb;
  --clr-blue-1: #70c3f3;
  --clr-blue-2: #0a83b0;
  --clr-blue-gradient: linear-gradient(
    to bottom right,
    var(--clr-blue-2),
    var(--clr-blue-1)
  );
  --clr-red-gradient: linear-gradient(
    to bottom right,
    var(--clr-red-light),
    var(--clr-red-dark)
  );
  --clr-green-gradient: linear-gradient(
    to bottom right,
    var(--clr-green-light),
    var(--clr-green-dark)
  );
  /* font family */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  /* transition */
  --transition: all 0.2s linear;
  /* letter-spacing */
  --spacing: 0.2rem;
  /* radius */
  --radius: 0.25rem;
  /* shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* width */
  --max-width: 1170px;
  --fixed-width: 35rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: linear-gradient(to bottom right, #468297, #c2e3f7);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
section {
  padding: 4rem 0;
}

.section-center {
  width: 95vw;
  margin: 4rem auto;
  max-width: 992px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.btn {
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  opacity: 0.9;
}

/* 
=====================
HEADER
=====================
*/

header h1 {
  margin: 4rem 0 -2rem;
  text-transform: uppercase;
  color: var(--clr-white);
  text-shadow: 2px 2px 2px var(--clr-black);
}

/* 
=====================
SECTION
=====================
*/

.section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  max-width: var(--fixed-width);
}

.form-control {
  margin: 0rem auto 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1rem;
}
.form-input {
  padding: 0.4rem 0.7rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  outline: none;
  border-style: solid;
  letter-spacing: 2px;
  border-right: none;
  max-width: 280px;
  border-color: var(--clr-grey-9);
  background: var(--clr-grey-9);
  color: var(--clr-black);
  font-weight: bold;
}
@media screen and (min-width: 481px) {
  .form-input {
    width: 70%;
  }
  .section-center {
    width: 85%;
  }
}
.form-input:focus {
  border-color: var(--clr-blue-1);
}
.submit-btn {
  background: var(--clr-blue-gradient);
  border: 1.5px solid var(--clr-blue-1);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.tasks-container {
  padding: 1rem 2rem;
  display: none;
}
.show-container {
  display: block;
}

.task:nth-of-type(even) {
  background: var(--clr-grey-10);
}
.task:nth-of-type(odd) {
  background: rgba(205, 205, 205, 0.1);
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.7rem;
  transition: var(--transition);
}
.task:hover {
  transform: scale(1.01);
}
.task p {
  color: var(--clr-black);
  text-transform: capitalize;
  letter-spacing: 1px;
  align-self: center;
  line-height: 1;
  margin-bottom: 0;
}
.btn-container button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn-container i {
  font-size: 1.2rem;
  font-weight: bolder;
}
.edit-btn {
  color: var(--clr-green-dark);
}
.delete-btn {
  color: var(--clr-red-dark);
}

.clear-btn {
  margin: 2rem 0 0rem;
  background: var(--clr-red-gradient);
  border: 1px solid var(--clr-red-dark);
  border-radius: var(--radius);
  padding: 0.5rem 0.8rem;
}

.alert {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: bold;
  width: 90%;
  margin: 0 auto;
  border-radius: var(--radius);
  color: var(--clr-white);
}
.danger {
  background: var(--clr-red-gradient);
  margin-bottom: 2rem;
}
.success {
  background: var(--clr-green-gradient);
  margin-bottom: 2rem;
}
.primary {
  background: var(--clr-blue-gradient);
  margin-bottom: 2rem;
}

/* MODAL */
.modal-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: -10;
  display: grid;
  place-items: center;
  text-align: center;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  width: 90%;
  max-width: var(--fixed-width);
  padding: 4rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.modal h2 {
  margin-bottom: 2rem;
  text-transform: none;
}
.modal button {
  outline: none;
  border: 1px solid;
  width: 40%;
  padding: 0.65rem 0;
  margin: 0 1rem;
}
.btn-container-2 {
  display: flex;
  justify-content: center;
  padding: 0 5rem;
}

/* 
=====================
FOOTER
=====================
*/

footer {
  color: var(--clr-white);
  background: var(--clr-black);
  width: 100%;
  padding: 1.3rem 0 0.3rem;
}

footer a {
  color: #489fb5;
  transition: var(--transition);
  font-weight: bold;
}

footer a:hover,
.icon a:hover {
  color: var(--clr-white);
}

.icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

.icon i {
  transition: var(--transition);
}

#twitter i {
  color: #00a7e7;
}

#instagram i {
  color: #ea6960;
}

#linkedin i {
  color: #0073b1;
}

#twitter i:hover,
#instagram i:hover,
#linkedin i:hover {
  color: var(--clr-white);
}
